html,body,p,div,dl,dd,ol,ul,li,dt,a,h1,h2,h3,h4,h5{margin:0;
padding:0;list-style:none;}
a{text-decoration:none;color:black;}
.clear{overflow:hidden;width:0;height:0;clear:both;}
/*头部导航css*/
#global_nav{background:#f5f5f5;
font-size:12px;line-height:30px;width:100%;height:30px;}
 .global_nav{width:1200px;margin:0 auto;height:30px;}
 .global_navl{width:160px;float:left;}
   .global_navl a:nth-child(1){color:#ff0033;
   float:left;font-weight:bold;padding-right:10px;}
   .global_navl a:hover{color:brown;}
   .global_navl a:nth-child(2){color:#565656;font-size:12px;float:left;line-height:30px;}
   .global_navl a:nth-child(2):hover{color:brown;cursor:pointer;}
  .global_navr{width:525px;height:30px;float:right;}
     .global_navr nth-child(2):hover{color:brown;}
     .global_navr li{float:left;}
     .denglu{margin-right:10px;}
     .zhuce a{color:#c70a28;width:30px;
     height:30px;display:inline-block;margin-right:5px;}
       .zhuce a:hover{color:brown;}
     .cart a{padding-right:10px;margin-right:10px;
     border-right:1px solid gray;}
       .cart a:hover{color:brown;}
       .kefu a:hover{color:brown;} 
       .denglu a:hover{color:brown;}
       .help a:hover{color:brown;}
       .kefu a,.cart a,.denglu a{color:#565656}
       .kefu,.help{margin-right:10px;}    
      #daohang{margin-left:20px;position: relative;}
      #daohang s{display:inline-block;width:12px;height:10px;background:url(../img/icon.png) no-repeat -32px -28px; }
      #daohang:hover{color:brown;}
._daohang{width:976px;display:none;margin:0 auto;
z-index:999;--box-shadow:1px 1px 1px white;
height:137px;background:#FFFFE0;
border-bottom:1px solid #e5e5e5;position:absolute;top:31px;left:210px;
     border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.hot,.Hstyle,.AMH,.mini,._help{width:15%;float:left;border-right:1px solid #e5e5e5;margin-left:25px;height:137px; }
  .hot h1,.hot span{font-size:16px;color:#f56b03;
  line-height:30px;font-weight:bold;}
  .daoside h1{display:inline-block;}
  .daoside a:hover{color:brown;}
  .daoside span{font-family:"arial, helvetica, sans-serif";}
 ._daohang a{color:#666666;width:45%;float:left;}
 .Hstyle{width:25%;}
 .Hstyle li{line-height:23px;}
.Hstyle h1,.Hstyle span{font-size:16px;color:#ec0736;line-height:28px;font-weight:bold;}
.AMH{width:15%;}
.AMH h1,.AMH span{color:#2263d4;line-height:30px;font-size:16px;}
.AMH a{width:100%;}
.mini{width:14%;}
.mini h1,.mini span{color:#5e8e3d;line-height:30px;font-size:16px;}
.mini a{width:100%;}
._help{width:16%;border:none;}
._help h1,._help span{color:#686868;font-weight:bold;
line-height:33px;font-size:16px;}
/*右侧导航栏部分*/
.guide_A{display:block;cursor:pointer;width:72px;height:308px;position:fixed;right:0.2%;bottom:20%;
--border:1px solid gray;background:url(../img/nav.png) no-repeat 0 -6px;}
.guide_A a{width:72px;height:80px;display:block;}
.a1{background:url(../img/nav.png) no-repeat 0px -6px;}
.a1:hover{background:url(../img/nav.png) no-repeat -80px -6px;}
.a2{background:url(../img/nav.png) no-repeat 0px -86px;}
.a2:hover{background:url(../img/nav.png) no-repeat -80px -86px;}
.a3{background:url(../img/nav.png) no-repeat 0px -166px;}
.a3:hover{background:url(../img/nav.png) no-repeat -80px -164px;}
.a4{background:url(../img/nav.png) no-repeat 0px -246px;}
.a4:hover{background:url(../img/nav.png) no-repeat -80px -246px;}
/*购物车背景图片部分*/
.cartH{width:100%;height:46px;margin-top:20px;}
._cartH{width:1200px;height:46px;margin:0 auto;}
  .bg{background:url(../img/cart.png) no-repeat -15px -17px;
   width:414px;height:44px;float:left;}
  ._step{width:700px;height:34px;padding-top:10px;float:right;margin-top:12px;margin-right:5px;background:url(../img/cart.png) no-repeat -15px -89px;}
/*内容列表区*/
.main{width:100%;height:auto;}
._main{width:1200px;height:auto;margin:0 auto;}
._tip{width:429px;height:28px;margin-top:15px;font-size:14px;background:url(../img/tip.png) no-repeat ;text-indent:1em;}
._tab thead{width:1198px;height:36px;line-height:36px;background:#999;}
._tab thead tr{border-right:1px solid gray;border-top:1px solid gray;text-align:center;color:white;}
._tab thead tr td{width:200px;;height:36px;}
._tab tbody{text-align:center;border-top:1px solid gray;border-left:1px solid gray}
._tab tbody td{border-right:1px solid gray;--border-spacing:0px;--border-bottom:1px solid gray;}
._tab tbody tr{border-top:1px solid gray;border-left:1px solid gray;font-size:12px;font-family:"微软雅黑";}
._tab tbody tr :nth-child(1){border-left:1px solid gray;}
._tab tbody :nth-child(1){border-top:1px solid gray;}  
._tab tbody :nth-child(2){border-top:1px solid gray;}
._tab tbody :nth-child(3){border-top:1px solid gray;}
._tab tbody :nth-child(4){border-top:1px solid gray;}
._tab tbody :nth-child(5){border-top:1px solid gray;}
._tab tbody tr:last-child td{border-bottom:1px solid gray;}
.td input{display:inline-block;cursor:pointer;}
td input:nth-child(2){width:50px;height:18px;border:none;@import; text-indent:1.5em;border-bottom:1px solid gray;}
#_input1{cursor:pointer;}
#_input3{cursor:pointer;}
/*购物金额总计*/
.table_bottom{width:1020px;height:40px;--border:1px solid gray;margin-top:20px;}
.tb_left{width:120px;height:40px;float:left;
background:url(../img/cart.png) no-repeat -16px -747px;margin-left:40px;}
.tb_right{background:url(../img/cart.png) no-repeat -16px -361px;
width:157px;height:40px;float:right;margin-right:100px;}
#_allprice{width:100px;height:40px;--float:right;margin-left:179px;line-height:40px;}
/*尾巴复制*/
.four{width:100%;height:160px;margin-bottom:20px;}
._four{width:1200px;margin:0 auto;background:#fafafa;height:160px;padding-left:82px;}
._Four{width:100px;height:160px;float:left;margin: 0 45px;}
._Four ._guide{background:url(../img/e.png) no-repeat -7px 0;height:25px;margin-top:25px;}
._Four ul{width:100px;height:160px;font-size:12px;margin-left:20px;line-height:20px;}
._Four ._pay{background:url(../img/e.png) no-repeat -11px -34px;height:25px;margin-top:25px;}
._Four ._Get{background:url(../img/e.png) no-repeat 0px -67px;height:25px;margin-top:25px;}
._Four ._service{background:url(../img/e.png) no-repeat -6px -100px;height:25px;margin-top:25px;}
._Four ._vip{background:url(../img/e.png) no-repeat -7px -133px; height:25px; margin-top:25px;--margin-right:80px;}
._Four ._contact{background:url(../img/e.png) no-repeat -9px -202px;height:25px;margin-top:25px;margin-right:0 !important;}
/*从此处是可以复制的尾巴部分   正品保证 无理由退换货等背景大图片*/
._footer{background:url(../img/f.png) no-repeat top center;height:100px;margin:0 auto;}
/*黑色导航栏部分*/
._blackFooterw{width:100%;height:30px;}
._black{width:1200px;height:30px;background:#393939;margin:0 auto;margin-top:10px;}
._blacktext{width:600px;margin:0 auto;height:30px;color:white;padding-left:100px;}
._blacktext a{line-height:30px;width:60px;padding:0px 10px;border-right:1px solid white;color:white;font-size:10px;margin:0 auto;}
/*公司注册信息文字部分*/
.tail{width:100%;height:30px;margin-top:10px;}
._tail{width:1200px;margin:0 auto;height:30px;text-align:center;}
._tail span{font-size:12px;}
/*最后四张图片*/
.end{width:100%;height:50px;}
._end{width:1200px;height:50px;margin:0 auto;text-align:center;}